.pokemon-card-container {
  border: 1px solid black;
  position: relative;
  width: 160px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.favourite-button {
  position: absolute;
  bottom: 5px;
  right: -15px;
  font-size: 20px;
  color: palevioletred;
}

.outline-heart, .solid-heart {
  position: relative;
}

.solid-heart {
  opacity: 0;
}

.outline-heart:hover {
  opacity: 0;
}

.outline-heart:hover ~ .solid-heart{
  opacity: 1;
  transform: translateX(-20px);
}

.pokemon-card-image  {
  width: 100px;
  margin-top: 10px;
}

.pokemon-card-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}

.pokemon-card-details > p {
  margin: 0;
}

.pokemon-card-image:hover {
  width: 110px;
}

.pokemon-card-image:hover ~ .pokemon-card-details {
  transform: translateY(-10px);
  font-weight: bold;
}