.pokemon-card-container {
  border: 1px solid black;
  width: 160px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.pokemon-card-image  {
  width: 100px;
  margin-top: 10px;
}

.pokemon-card-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}

.pokemon-card-details > p {
  margin: 0;
}

.pokemon-card-container:hover > .pokemon-card-image {
  width: 110px;
}

.pokemon-card-container:hover > .pokemon-card-details {
  transform: translateY(-10px);
  font-weight: bold;
}