.favourite-button {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 20px;
  color: palevioletred;
  /* border: 1px solid red; */
  width: 20px;
  height: 20px;
}

.outline-heart, .solid-heart, .solid-heart-animation {
  position: absolute;
  cursor: pointer;
}

.outline-heart, .solid-heart {
  z-index: 2;
}

.solid-heart {
  display: none;
}

.solid-heart.favourited {
  display: inline;
}

.solid-heart-animation {
  /* color: aquamarine; */
  /* display: none; */
  visibility: hidden;
  opacity: 1;
  z-index: 1;
  transition: none;
}

.solid-heart-animation.favourited {
  visibility: visible;
  font-size: 60px;
  transform: translateX(-20px) translateY(-20px);
  opacity: 0;
  transition: all 0.8s;
}

.outline-heart:hover ~ .solid-heart {
  display: inline;
}

/* @keyframes clickFavourite {
  from {
    font-size: 20px;
    opacity: 1;
  }
  to {
    font-size: 60px;
    transform: translateX(-20px) translateY(-20px);
    opacity: 0;
  }
} */