.favourite-button {
  position: absolute;
  bottom: 5px;
  right: 13px;
  font-size: 20px;
  color: palevioletred;
  /* border: 1px solid red; */
  width: 20px;
  height: 20px;
}

[id^=favourite-button] {
  width: 0;
  height: 0;
  opacity: 0;
}

.heart-icon-container {
  /* border: 1px solid red; */
  display: flex;
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: -8px;
  padding: 0;
}

.outline-heart, .solid-heart, .animation-heart, .xmark-heart {
  position: absolute;
}

.outline-heart, .solid-heart, .animation-heart {
  cursor: pointer;
}

.solid-heart {
  width: 0;
  height: 0;
  opacity: 0;
  /* display: none; */
  visibility: hidden;
}

.animation-heart {
  width: 0;
  height: 0;
  /* display: none; */
  transform: translateX(10px) translateY(10px);
  visibility: hidden;
}

.xmark-heart {
  cursor: not-allowed;
  color: gray;
  opacity: 0.3;
  right: -5px;
}

.outline-heart:hover ~ .solid-heart {
  visibility: visible;
  width: 20px;
  height: 20px;
  opacity: 1;
}

[id^=favourite-button]:checked + label > .solid-heart {
  visibility: visible;
  width: 20px;
  height: 20px;
  opacity: 1;
}

[id^=favourite-button]:checked + label > .animation-heart {
  visibility: visible;
  width: 60px;
  height: 60px;
  transform: translateX(-20px) translateY(-20px);
  opacity: 0;
  transition: all 0.8s;
  animation: visibleToHidden 0.8s linear 0s 1 normal forwards;
}

.xmark-tooltip {
  width: 115px;
  height: 25px;
  border-radius: 12px;
  background-color: gainsboro;
  position: absolute;
  left: 160px;
  bottom: -25px;
  font-size: 10px;
  padding: 5px;
  z-index: 1;
  animation: fadeOpacity 500ms linear 1200ms 1 normal forwards;
}

@keyframes visibleToHidden {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}

@keyframes fadeOpacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}