.favourite-button {
  position: absolute;
  bottom: 5px;
  right: 13px;
  font-size: 20px;
  color: palevioletred;
  /* border: 1px solid red; */
  width: 20px;
  height: 20px;
}

[id^=favourite-button] {
  width: 0;
  height: 0;
  opacity: 0;
}

.outline-heart, .solid-heart, .animation-heart, .xmark-heart {
  position: absolute;
}

.outline-heart, .solid-heart, .animation-heart {
  cursor: pointer;
}

.solid-heart {
  width: 0;
  height: 0;
  opacity: 0;
}

.animation-heart {
  width: 0px;
  height: 0px;
  transform: translateX(10px) translateY(10px);
}

.xmark-heart {
  cursor: not-allowed;
  color: gray;
  opacity: 0.3;
  right: -5px;
}

.outline-heart:hover ~ .solid-heart {
  width: 20px;
  height: 20px;
  opacity: 1;
}

[id^=favourite-button]:checked + label > .solid-heart {
  width: 20px;
  height: 20px;
  opacity: 1;
}

[id^=favourite-button]:checked + label > .animation-heart {
  width: 60px;
  height: 60px;
  transform: translateX(-20px) translateY(-20px);
  opacity: 0;
  transition: all 0.8s;
}