/* * {
  margin: 0;
  padding: 0;
} */

.pokemon-page {
  height: 100vh;
  /* border: 4px solid orange; */
}

.pokemon-page-loading-container {
  height: 664px;
  width: calc(100vw + 0px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pokemon-page-content-container {
  display: flex;
  align-items: center;
}

.arrow-container {
  margin: 0 20px;
  padding: 0;
  font-size: 30px;
  opacity: 0.4;
  cursor: pointer;
}

.arrow-container:hover {
  opacity: 1;
}

.arrow-container.hidden {
  visibility: hidden;
}

.pokemon-page-grid-container {
  display: grid;
  grid-template-columns: 500px 1fr;
  border: 1px solid black;
  height: 500px;
  column-gap: 20px;
}

.pokemon-page-image-container {
  align-self: center;
  display: flex;
  /* height: 100%;  */
  /* enable height 100% to make border extend to full height */
  justify-content: center;
  border-right: 1px solid black;
  /* justify-content: flex-start; */
}

body.gameboy-mode .pokemon-page-image-container {
  height: 240px;
  border-right: none;
}

.pokemon-page-data-container {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(5, 10%) 40% 10%;
  grid-template-columns: 120px 1fr;
  align-items: baseline;
  margin-right: 10px;
  /* border-left: 1px solid black; */
}

body.gameboy-mode .pokemon-page-data-container {
  grid-template-columns: 200px 1fr;
}

body.gameboy-mode .pokemon-page-data-container .favourite-button-container [class*="-heart"] {
  bottom: -2px;
}

.pokemon-page-data-container > * {
  /* border: 1px solid black; */
}

.favourite-button-container {
  display: flex;
  justify-content: flex-end;
}

.favourite-button-container > * {
  /* border: 1px solid red; */
  margin-right: 10px;
}

.favourite-button-container > p {
  font-size: 14px;
}

.pokemon-page-data-container > h4 {
  width: 95%;
  align-self: center;
  font-style: italic;
  margin: 0 auto;
}

.pokemon-page-data-container > .favourite-button-container > .favourite-button {
  position: relative;
  top: 12px;
  right: 5px;
}

.pokemon-page-types-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.two-column-cell {
  grid-column: 1 / span 2;
}

.pokemon-not-found-section {
  width: fit-content;
  margin: 0 auto;
}

.pokemon-not-found-section > h1 {
  text-align: center;
}

#pokemon-not-found-image {
  height: 225px;
  width: 300px;
  
  object-fit: cover;
}

@media screen and (max-width: 880px) {

  .pokemon-page {
    height: 100vh;
    min-height: 650px;
  }

  .pokemon-page-loading-container {
    height: calc(100% - 100px);
  }

  .pokemon-page-content-container {
    height: calc(100% - 100px);
  }

  .pokemon-page-header {
    height: 100px; 
  }

  .arrow-container {
    margin: 0 10px;
    font-size: 30px;
  }

  .pokemon-page-grid-container {
    width: 100%;
    height: calc(100%);
    grid-template-columns: minmax(0,1fr);
    grid-template-rows: 250px minmax(0,1fr);
    /* border: 4px solid blue; */
    border: none;
  }

  .pokemon-page-image-container {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* border: 1px solid red; */
    border-bottom: 1px solid black;
    border-right: none;
  }

  .pokemon-page-image-container > img {
    /* width: 100%;
    height: 100%; */
    /* border: 1px solid red; */
  }

  .pokemon-page-data-container {
    grid-template-columns: 120px 1fr;
    grid-template-rows: repeat(5, 10%) 1fr 10%;
    border-left: none;
    /* border-top: 1px solid black; */
    /* border: 4px solid red; */
  }

  /* .description {
    align-self: start;
  } */

  .pokemon-page-data-container > h3 {
    padding-left: 10px;
  }

  .pokemon-page-data-container > h4 {
    margin: 0 auto;
  }

  .pokemon-page-data-container > .favourite-button-container {
    text-align: right;
    position: relative;
    bottom: 10px;
    /* right: 20px; */
    /* border: 1px solid red; */
  }

  .pokemon-page-data-container > .favourite-button-container > p {
    margin-bottom: 0;
  }
}