.pokemon-page-flex-container {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

.pokemon-page-image-container {
  align-self: center;
}

.pokemon-page-data-container {
  width: 1000px;
  display: grid;
  grid-template-rows: repeat(7, 0.5fr);
  grid-template-columns: 120px 1fr;
  align-items: center;
  border: 1px solid black;
}

.pokemon-page-data-container > * {
  border: 1px solid black;
}

.favourite-button-container {
  display: flex;
  justify-content: flex-end;
}

.favourite-button-container > * {
  /* border: 1px solid red; */
  margin-right: 10px;
}

.favourite-button-container > p {
  font-size: 14px;
}

.pokemon-page-data-container > .favourite-button-container > .favourite-button {
  position: relative;
  top: 12px;
  right: 5px;
}

.pokemon-page-types-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.two-column-cell {
  grid-column: 1 / span 2;
}



