.game-page-picture {
  filter: grayscale(1) contrast(0) brightness(0);
  /* height: 300px; */
  /* width: fit-content; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* margin-bottom: -50px; */
  margin-top: 20px;
}

.game-page-picture > img {
  /* object-fit: contain; */
  width: 100%;
  padding: 0;
  margin: 0;
}

.game-page-picture.revealed {
  filter: none;
  transition: filter 1s linear;
}

.game-page-picture.hidden {
  display: none;
}

.game-page-name {
  display: none;
}

.game-page-name.revealed {
  display: block;
  padding: 0;
  margin: -9px;
}

@media screen and (max-width: 500px) {
  .game-page-picture > img {
    width: 60%;
  }
}