.game-page-picture {
  filter: grayscale(1) contrast(0) brightness(0);
}

.game-page-picture.revealed {
  filter: none;
  transition: filter 1s linear;
}

.game-page-picture.hidden {
  display: none;
}

.game-page-name {
  display: none;
}

.game-page-name.revealed {
  display: block;
}