.filter-creator {
  min-width: 620px; 
  /* border: 1px solid black; */
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.filter-creator.filters-applied {
  border-right: 1px solid black;
}

.filter-creator > h4 {
  margin-block-end: 0.5em;
}

.filter-creator > h4:nth-child(1) {
  margin-block-start: 0;
}

.selectors-flex-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.selector {
  margin-right: 20px;
  margin-bottom: 20px;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
}

.selector > label {
  margin-right: 10px;
}

.selector > p {
  display: inline-block;
  width: 60px;
  margin: 0 5px;
  text-align: right;
}

/* .filters-flex-container {
  display: flex;
  justify-content: flex-start;
} */

.sliders-container {
  display: flex;
}

.add-filter-button {
  height: 20px;
  margin-bottom: 20px;
}

.gameboy-mode .add-filter-button {
  font-size: 10px;
}

@media screen and (max-width: 880px) {
  .filter-creator {
    min-width: 0;
  }

  .filter-creator.filters-applied {
    border-right: none;
  }

  .selectors-flex-container {
    align-items: center;
  }
}