.filter-creator {
  min-width: 620px;
  /* border: 1px solid black; */
  border-right: 1px solid black;
  margin: 10px;
}

.selectors-flex-container {
  display: flex;
  justify-content: flex-start;
}

.selector {
  margin-right: 20px;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
}

.selector > label {
  margin-right: 10px;
}

.selector > p {
  display: inline-block;
  width: 60px;
  margin: 0 5px;
  text-align: right;
}

/* .filters-flex-container {
  display: flex;
  justify-content: flex-start;
} */

.sliders-container {
  display: flex;
}

.add-filter-button {
  height: 20px;
}
