.loading-icon-container {
  display: flex;
  justify-content: center;
  width: fit-content;
}

.loading-icon {
  width: 20px;
  animation: loadingIconRotate 1.2s linear 0s infinite normal forwards;
}

@keyframes loadingIconRotate {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(20deg);
  }
  70% {
    transform: rotate(340deg);
  }
  100% {
    transform: rotate(360deg);
  }
}