.filter-blocks-container {
  display: flex;
  flex-direction: column;
  flex: 0 0 20%;
  /* border: 1px solid red; */
  align-items: center;
}

.filter-blocks-flex-container {
  display: flex;
  flex-flow: row wrap;
  min-height: 100px;
  width: 100%;
  /* border: 1px solid red; */
  justify-content: flex-start;
}