.page-controls p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.nav-bar > .page-controls {
  position: absolute;
  right: 10px;
}

.play-button, .pause-button {
  cursor: pointer;
  position: absolute;
  top: 3px;
}

.pause-button {
  right: -5px;
}

.play-button {
  right: -3px;
}

@media screen and (max-width: 880px) {
  .nav-bar > .page-controls {
    position: relative;
    margin-left: 10px;
  }
}