.filters-container {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  /* align-items: stretch; */
}

.filter-blocks-containers-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: flex-start; */
  width: 100%;
  /* border: 2px solid blue; */
}

@media screen and (max-width: 880px) {
  .filters-container {
    flex-direction: column;
  }
}