.home-page-pokemon-container {
  border: 1px solid black;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.home-page-pokemon-container > img {
  width: 100px;
}