.home-page-pokemon-container {
  border: 1px solid black;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.home-page-pokemon-image  {
  width: 100px;
}

.home-page-pokemon-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}

.home-page-pokemon-details > p {
  margin: 0;
}

.home-page-pokemon-container:hover > .home-page-pokemon-image {
  width: 110px;
}

.home-page-pokemon-container:hover > .home-page-pokemon-details {
  transform: translateY(-10px);
  font-weight: bold;
}