.home-page {
  padding: 0 20px;
}

.home-page > h6 {
  font-size: 13px;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.home-page-name {
  color: black;
}

.home-page-name:hover {
  background-color: rgba(0, 160, 139, 0.7);
}