.slider-flex-container {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  margin-top: 10px;
  margin-right: 20px;
  align-items: center;
}

.slider-flex-container > * {
  margin: 0;
}

.slider-container {
  display: flex;
  flex-direction: row;
  /* border: 1px solid black; */
  align-items: center;
}

.slider-container :nth-child(1) { 
  order: 2;
}
.slider-container :nth-child(2) { 
  order: 3;
}
.slider-container :nth-child(3) { 
  order: 1;
}
.slider-container :nth-child(4) { 
  order: 4;
}

.slider-container > div {
  /* border: 1px solid black; */
}

.slider-bar {
  border: 0.2px solid black;
  /* background-color: rgb(47, 255, 141); */
  /* background: rgb(47, 255, 141); */
  background-color: grey;
  width: 30px;
  height: 10px;
  border-radius: 20px;
  margin: 5px;
  display: flex;
  transition: background-color 0.2s linear;
}

.slider-bar:hover {
  cursor: pointer;
}

.slider-button {
  position: relative;
  border: 0.2px solid black;
  width: 10px;
  border-radius: 10px;
  background-color: azure;
  left: 0px;
  transition: left 0.2s linear;
}

/* .slider-bar.toggled {
  background-color: grey;
} */

/* .slider-bar.toggled > .slider-button {
  left: 20px;
} */

.slider-value {
  /* opacity: 0.2; */
}

.slider-container > div:nth-child(odd) > p {
  opacity: 1;
  font-weight: bold;
}

.slider-container > div:nth-child(even) > p {
  opacity: 0.2;
  font-weight: normal;
}

.slider-value {
  transition: all 0.2s linear;
}

[id$="checkbox"] {
  display: none;
}


[id$="checkbox"]:checked ~ .slider-bar > .slider-button {
  left: 20px;
}


[id$="checkbox"]:checked ~ div:nth-child(odd) > p {
  opacity: 0.2;
  font-weight: normal;
}

[id$="checkbox"]:checked ~ div:nth-child(even) > p {
  opacity: 1;
  font-weight: bold;
}